<nav >
	<i ng-click="toggleNav = true" class="fa fa-2x fa-bars" aria-hidden="true"></i>
	<h1 class="logo">Heroes</h1>

	<ul ng-class="{'opened': toggleNav}" class="main-menu">
		<i ng-click="toggleNav = false" class="fa fa-2x fa-times" aria-hidden="true"></i>
		<li ng-click="toggleNav = false"><a ui-sref="main-page">Main</a></li>
		<li ng-click="toggleNav = false"><a ui-sref="workers-list">Show Heroes</a></li>
		<li ng-click="toggleNav = false" ng-show="current_user && current_user.type === 'worker'"><a ui-sref="workers-profile({ workerId: current_user._id })">My Profile</a></li>
		<li ng-click="toggleNav = false" ng-show="!current_user"><a ui-sref="login-worker">Log Hero</a></li>
		<li ng-click="toggleNav = false" ng-show="!current_user"><a ui-sref="login-user">log User</a></li>
		<li ng-click="toggleNav = false" ng-show="current_user"><a href="" ng-click="logOut()">Wyloguj</a></li>
		
	</ul>
</nav>