<form>
	<h1>Zarejestruj:</h1>
	<h2>Imię:</h2>
	<input ng-model="user.name" type="text" placeholder="Jan">
	<h2>Nazwisko:</h2>
	<input ng-model="user.lastName" type="text" placeholder="Nowak">
	<h2>E-mail:</h2>
	<input ng-model="user.email" type="text" placeholder="jan.nowak@gmail.com">
	<h2>Hasło:</h2>
	<input ng-model="user.password" type="text" placeholder="*****">
	<h2>Powtórz hasło:</h2>
	<input ng-model="user.repeatPass" type="text" placeholder="*****">
	<h2>Wybierz rolę:</h2>
	<input ng-model="user.role" type="radio" name="role" value="user">Użytkownik
	<input ng-model="user.role" type="radio" name="role" value="haidresser">Fryzjer
	<h2>Regulamin</h2>
	<input type="checkbox">
	<input ng-click="register(user)" type="submit" value="Rejestruj">
</form>