<header class="info-header">
  <h2 class="title-medium">Login Hero</h2>
</header>

<section class="form-section">
  <form ng-submit="loginWorker(worker)">
    <fieldset>
      <legend>Email:</legend>
      <input ng-model="worker.email" name="email" type="text" placeholder="example@mail.com">
    </fieldset>
    <fieldset>
      <legend>Password:</legend>
      <input ng-model="worker.password" name="password" type="password" placeholder="your secret password">
    </fieldset>
    <ul class="errors">
      <li ng-repeat="error in response">{{error.msg}}</li>
    </ul>
    <fieldset>
      <input class="btn btn-long btn-main" type="submit" value="login">
    </fieldset>
    <p>or</p>
    <a class="register-btn" ui-sref="register-worker">Register new Hero</a>
  </form>   
</section>
