<header class="info-header">
  <h2 class="title-medium">list</h2>
</header>

<section class="workers-list-section">

  <div class="workers-box">

    <a ng-class="{'your-profile': worker._id == current_user._id}" ng-repeat="worker in workersList" class="worker config-img geometric-img" ui-sref="workers-detail({ workerId: worker._id })">
      <h3>{{worker.name}}</h3>
      <address>{{worker.adress}}</address>
      <div class="line"></div>
      
      <p class="opinion-length">{{worker.opinions.length}} Opinions</p>
      <ng-rate-it class="rate" ng-model="worker.average" read-only="true" star-width="30" star-height="30"></ng-rate-it>
    </a>
  </div>

</section>
