<header class="main-page-header config-img main-page-header-img">
  <div class="overlay black"></div>
  <div class="main-box">
    <h1 class="main-title">You need 
      <span type-write delay="10" type-speed="100" sentences="['a Batman ?', 'a Spider-man ?', 'a Super-man ?', 'or Iron-man ?', 'a Super hero ?']"></span>
      <span class="blink">|</span>
    </h1>   

    <div class="line"></div>
    <p class="main-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio commodi iste, sit quaerat rem, vitae error consequatur cum voluptatem eum.</p>
  </div>
</header>

<section class="stats-section">
  <h2 num="01" class="title-big">Heroes Stats</h2>
  <ul class="stats-box">
    <li class="stat">
      <span stat-count start="0" plus="+" finish="130" speed="100"></span>
      <p>People</p>
    </li>
    <li class="stat">
      <span stat-count start="0" plus="+" finish="200" speed="100"></span>
      <p>Apps Developed</p>
    </li>
    <li class="stat">
      <span stat-count start="0" plus="" finish="17" speed="100"></span>
      <p>Nationalities</p>
    </li>
    <li class="stat">
      <span stat-count start="0" plus="" finish="5" speed="100"></span>
      <p>Offices</p>
    </li>
  </ul>
  <div class="stats-info">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iste maiores inventore mollitia est temporibus harum reprehenderit omnis quis quaerat consequuntur, fugiat nemo fuga culpa consequatur perferendis ipsam? Cupiditate, voluptatum!</p>
    <a ui-sref="workers-list" class="btn btn-normal btn-main btn-center">
      <span class="front">Heroes</span>
      <span class="back">Heroes</span>
    </a>
  </div>
</section>

<section class="workers-list-section">
  <h2 num="02" class="title-big">Our Newest</h2>
  <div class="workers-box">
    <a ng-repeat="worker in workersLatest" class="worker config-img geometric-img" ui-sref="workers-detail({ workerId: worker._id })">
      <h3>{{worker.name}}</h3>
      <address>{{worker.adress}}</address>
      <div class="line"></div>
      <p class="opinion-length">{{worker.opinions.length}} Opinions</p>
      <ng-rate-it ng-model="worker.average" read-only="true" star-width="30" star-height="30"></ng-rate-it> 
    </a>
  </div>
</section>

<section class="hire-section">
  <p>Ready to get started? Click bellow.</p>
  <a ui-sref="workers-list" class="hire-link" href="">Hire us</a>
</section>

<section class="workers-list-section">
  <h2 num="03" class="title-big">Best opionion</h2>
  <div class="workers-box">
    <a class="worker config-img geometric-img" ui-sref="workers-detail({ workerId: workersBest._id })">
      <h3>{{workersBest.name}}</h3>
      <address>{{workersBest.adress}}</address>
      <div class="line"></div>
      <p class="opinion-length">{{workersBest.opinions.length}} Opinions</p> 
      <ng-rate-it class="rate" ng-model="workersBest.average" read-only="true" star-width="30" star-height="30"></ng-rate-it>
    </a>
  </div>
</section>

<quotes-section></quotes-section>

