<header class="info-header">
  <h2 class="title-medium">Register User</h2>
</header>

<section class="form-section">
    <form ng-submit="registerUser(user)">
        <fieldset>
            <legend>Email:</legend>
            <input ng-model="user.email" name="email" type="text" placeholder="example@mail.com">
        </fieldset>
        <fieldset>
            <legend>Password:</legend>
            <input ng-model="user.password" name="password" type="password" placeholder="your secret password">
        </fieldset>
        <fieldset>
            <legend>Repeat password:</legend>
            <input ng-model="user.repeatPass" name="password" type="password" placeholder="your secret password">
        </fieldset>
        <ul class="errors">
            <li ng-repeat="error in response">{{error.msg}}</li>
        </ul>
        <fieldset>
            <input class="btn btn-long btn-main" type="submit" value="Register">
        </fieldset>
    </form>   
</section>