<header class="workers-profile-header">
  <h2>{{worker.name}}</h2>
  <ng-rate-it ng-model="worker.average" read-only="true"></ng-rate-it>
  <p class="opinion-length">{{worker.opinions.length}} opinions</p> 
</header>

<section class="workers-profile-section">
  <h3>Description</h3>
  <div class="hr"></div>
  <p class="description">{{worker.descr}}</p>
  <h3>Created at</h3>
  <div class="hr"></div>
  <time>{{worker.created_at | date: 'short'}}</time>
  <h3>Adress</h3>
  <div class="hr"></div>
  <address>{{worker.adress}}</address>
  <a class="btn btn-small btn-dark" ui-sref="workers-profile-edit({ workerId: current_user._id })">Edit profile</a>
</section>